* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.app {
  width: 350px;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
